<p-tabs [(value)]="activeTabIndex">
    <p-tablist>
        <p-tab [value]="0">Table View</p-tab>
        <p-tab [value]="1">Snippet View</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel [value]="0">
            <div *ngIf="activeTabIndex === 0" @fadeAnimation>
                <custom-table [productsData]="products" [loading]="loading" />
            </div>
        </p-tabpanel>
        <p-tabpanel [value]="1">
            <div *ngIf="activeTabIndex === 1" @fadeAnimation>
                <custom-snippet [productsData]="products" [loading]="loading" />
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>