<p-table
    #dt
    [value]="productsData"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['title', 'category', 'tags', 'brand', 'sku']"
    [loading]="loading"
>
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="left">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="dt.filterGlobal(($any($event.target)).value, 'contains')" placeholder="Search keyword" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="id" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Id</span>
                    <p-sortIcon field="id" />
                </div>
            </th>
            <th pSortableColumn="sku" style="width: 15%;">
                <div class="flex gap-2">
                    <span>SKU</span>
                    <p-sortIcon field="sku" />
                </div>
            </th>
            <th pSortableColumn="title" style="width: 16%;">
                <div class="flex gap-2">
                    <span>Title</span>
                    <p-sortIcon field="title" />
                </div>
            </th>
            <th pSortableColumn="description" style="width: 24%; min-width: 350px;">
                <div class="flex gap-2">
                    <span>Description</span>
                    <p-sortIcon field="description" />
                </div>
            </th>
            <th pSortableColumn="category" style="width: 5%;">
                <div class="flex gap-2">
                    <span>Category</span>
                    <p-sortIcon field="category" />
                </div>
            </th>
            <th pSortableColumn="price" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Price</span>
                    <p-sortIcon field="price" />
                </div>
            </th>
            <th pSortableColumn="discountPercentage" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Discount</span>
                    <p-sortIcon field="discountPercentage" />
                </div>
            </th>
            <th pSortableColumn="rating" style="width: 8%;">
                <div class="flex gap-2">
                    <span>Rating</span>
                    <p-sortIcon field="rating" />
                </div>
            </th>
            <th pSortableColumn="stock" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Stock</span>
                    <p-sortIcon field="stock" />
                </div>
            </th>
            <th pSortableColumn="tags" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Tags</span>
                    <p-sortIcon field="tags" />
                </div>
            </th>
            <th pSortableColumn="brand" style="width: 4%;">
                <div class="flex gap-2">
                    <span>Brand</span>
                    <p-sortIcon field="brand" />
                </div>
            </th>
            <th pSortableColumn="availabilityStatus">
                <div class="flex gap-2" style="width: 8%;">
                    <span>Availability</span>
                    <p-sortIcon field="availabilityStatus" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            @if (loading) {
                <td>loading...</td>
            } @else {
                <td>{{ product.id }}</td>
                <td>{{ product.sku }}</td>
                <td>
                    <div class="flex items-center gap-2">
                        <img [alt]="product.title" src="{{ product.thumbnail }}" width="32" />
                        <span>{{ product.title }}</span>
                    </div>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price | currency: 'EUR' }}</td>
                <td>{{ product.discountPercentage }}%</td>
                <td>
                    <div class="flex flex-col items-center gap-2">
                        <p-rating 
                            [(ngModel)]="product.rating" 
                            [readonly]="true" 
                        >
                            <ng-template #cancelicon></ng-template>
                            <ng-template #onicon><span class="pi pi-star" style="color:gold"></span></ng-template>
                            <ng-template #officon><span class="pi pi-star" style="color:lightgray"></span></ng-template>
                        </p-rating>
                        <div>({{ product.rating }})</div>
                    </div>
                </td>
                <td>{{ product.stock }}</td>
                <td>{{ product.tags.join(', ') }}</td>
                <td>{{ product.brand }}</td>
                <td>
                    <p-tag [value]="product.availabilityStatus" [severity]="getAvailability(product.availabilityStatus)" />
                </td>
            }
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="12">
                <div class="text-center">No products found.</div>
            </td>
        </tr>
    </ng-template>
</p-table>